<!DOCTYPE html>
<html>
    <style>
        @import url(./style/about.css);
    </style>
<head>
	<title>About us</title>
</head>
<body>
	<nav class="navbar background">
		<ul class="nav-list">
			<div class="logo"><img src=""></div>
			<li><a href="#Home">Home</a></li>
			<li><a href="#Classes">Class</a></li>
			<li><a href="#AboutUs">AboutUs</a></li>
			<li><a href="#ContactUs">Contact Us</a></li>
		</ul>
		<div class="rightNav">
			<input type="text" name="search" id="search">
			<button class="btn btn-sm">Search</button>
		</div>
	</nav>
	<section class="background firstsection">
		<div class="box-main">
			<div class="firstHalf">
				<p class="text-big">About US</p>

                <div class="container">
                    <h1>About Us</h1>
                    <p>Welcome to our class reservation website!</p>
                    <p>Our website is designed to make it easy for students to reserve spots in their desired classes. With a user-friendly interface and a wide range of class options, our website is the perfect solution for busy students who want to make the most of their time.</p>
                    <p>Our website is built using the latest technologies, including the powerful Python websiteming language. This allows us to create a fast and efficient website that can handle a large number of class reservations without any delays.</p>
                    <p>Our team is dedicated to providing the best possible experience for our users. We are constantly working to improve our website and add new features to make it even better. If you have any suggestions or feedback, please don't hesitate to <a href="contact.html">contact us</a>.</p>
                    <p>Thank you for choosing our class reservation website. We hope you have a great experience using it and we look forward to hearing from you!</p>
                </div>
				
				<p class="text-small">
					Here you will get to know the team
					members of our company
				</p>
				<br>
				<p class="center"><a href="#Order"
				style="text-decoration:none;color:white;">
						Below are the people who
						works in our company</a>
				</p>
			</div>
		</div>
	</section>
	<section class="service">
		<h1 class="h-primary center" style="margin-top:30px;text-align:center;">
			Our Team
		</h1>
	<div id="services">
			<div class="box">
				<img src=
https://w7.pngwing.com/pngs/527/663/png-transparent-logo-person-user-person-icon-rectangle-photography-computer-wallpaper.png					alt="picture goes here">
			
				<p class="center">
					<a href="#xyz" style="text-decoration:none;color:black;
		font-weight:bold;font-family: 'Langar', cursive;">
						xyz
					</a>
				</p>
				<p style="font-family: sans-serif">CEO and the Founder</p>
			</div>
			<div class="box">
				<img src=
				https://www.shutterstock.com/image-vector/business-woman-icon-avatar-symbol-260nw-790518412.jpg
									alt="picture goes here">
				
				<p class="center">
					<a href="#abc" style="text-decoration:none;color:black;
		font-weight:bold;font-family: 'Langar', cursive;">
						abc
					</a>
				</p>
				
				<p style="font-family: sans-serif ">co-founder</p>
				<p style="font-family: sans-serif ">Classscalablility@gmail.com</p>
			</div>
			<div class="box">
				<img src=
				https://cdn5.vectorstock.com/i/1000x1000/17/44/person-icon-in-line-style-man-symbol-vector-24741744.jpg
				alt="picture goes here">
				<br>
				<p class="center">
					<a href="#xyz" style="text-decoration:none;color:black;
		font-weight:bold;font-family: 'Langar', cursive;">
						asw
					</a>
				</p>
				<p style="font-family: sans-serif ">Class Manager of the company </p>

			</div>
		</div>
	
	</section>

	<footer class="background">
		<p class="text-footer">
			Copyright ©-All rights are reserved
		</p>

	</footer>
</body>

</html>
